.header__logo {
    display: block;
    max-width: 142px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 890px) {
    .header__logo {
        max-width: 103px;
    }
}