.card__description {
    font-weight: var(--fw-900);
    font-size: var(--fs-400);
    line-height: 29px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}