.popup__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid hsl(var(--bg-primary), .2);
    font-size: 14px;
    line-height: 17px;

    margin: 0;
    padding: 0 0 13px;
    box-sizing: border-box;

    transition: all 200ms ease-in;
}

.popup__input:hover {
    border-bottom: 1px solid hsl(var(--bg-primary), .4);
}

.popup__input:focus, 
.popup__input:focus-visible {
    outline: none;
    border-bottom: 1px solid hsl(var(--bg-primary));
}

@media (max-width: 420px) {
    .popup__input {
        padding-bottom: 10px;
    }
}