.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 50px;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 890px) {
    .profile {
        padding-inline: 19px;
    }
}

@media (max-width: 690px) {
    .profile {
        flex-direction: column;
        gap: 36px;
        text-align: center;
        padding-inline: 19px;

        margin: 0 0 36px;
    }
}