.card {
    background-color: hsl(var(--clr-primary));
    color: hsl(var(--bg-primary));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}