.profile__add-button {
    width: min(150px, 100%);
    height: 50px;
    background: transparent url(../../../images/pluss.svg) no-repeat center;
    border: 2px solid hsl(var(--clr-primary));
    border-radius: 2px;
    transition: opacity 200ms ease-in;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

@media (max-width: 690px) {
    .profile__add-button {
        width: 100%;
        background-size: 16px;
    }
}