.header {
    display: flex;
    margin: 0 0 40px;
    padding: 0 0 41px;
    box-sizing: border-box;

    border-bottom: 1px solid hsl(var(--clr-accent), .7);
}

@media (max-width: 890px) {
    .header {
        padding: 0 0 31.6px 27px;
        margin-bottom: 42px;
    }
}