.popup {
    position: fixed;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    display: grid;
    inset: 0;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: visibility 0s 200ms, opacity 200ms linear;
}

.popup::before {
    content: '';
    position: absolute;
    inset: 0;
    background: hsl(var(--bg-primary), .5);
    /* z-index: var(--z-300);  */
    cursor: pointer;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}